.forgot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  background: #eef2f7;
  flex-direction: column;
}

.forgot-form {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  // width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: lightcyan;
  border: 2px solid;

  h2 {
    text-align: center;
    margin-bottom: 1rem;
  }

  p {
    text-align: center;
    font-size: 0.95rem;
    color: black;
    margin-bottom: 1rem;
  }

  .form-group {
    margin-bottom: 1rem;

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    input {
      padding: 0.7rem;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 0.95rem;
      transition: border-color 0.2s ease;

      &:focus {
        outline: none;
        border-color: #0077ff;
        box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
      }
    }

    .error-text {
      color: red;
      font-size: 0.9rem;
      margin-top: 0.4rem;
    }

    .success-text {
      color: green;
      text-align: center;
      font-size: 0.95rem;
    }
  }

  h3 {
    margin: 0;
    padding: 0;
    text-align: justify;
  }

  .send-btn {
    width: 100%;
    padding: 0.75rem;
    background-color: #0077ff;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background-color: #005fcc;
    }
    &:disabled {
      background-color: #ccc;
      color: #666;
      opacity: 0.7;
      cursor: default;
    }
  }

  .recaptcha-wrapper {
    margin: 1.5rem 0;
    // Optional: limit width like input
    max-width: 100%;
    width: 100%;

    iframe {
      max-width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .forgot-container {
    padding: 82px;
  }

  .forgot-form {
    padding: 1.5rem;
  }

  .forgot-form h2 {
    font-size: 1.4rem;
  }

  .forgot-form p {
    font-size: 0.9rem;
  }

  .forgot-form .form-group input {
    font-size: 0.9rem;
    padding: 0.6rem;
  }

  .forgot-form .send-btn {
    font-size: 0.95rem;
    padding: 0.65rem;
  }
}

@media (max-width: 480px) {
  .forgot-form {
    padding: 1rem;
  }

  .forgot-form h2 {
    font-size: 1.2rem;
  }

  .forgot-form .form-group label {
    font-size: 0.85rem;
  }

  .forgot-form .form-group input {
    font-size: 0.85rem;
  }

  .forgot-form .send-btn {
    font-size: 0.9rem;
  }
}

